.imageContainer
{
    border-radius:30px;
    padding: 10px;
    
}

.thumbnail 
{
    border-radius: 30px;
    width: 20%;
    height: 20%;
}


.headline 
{
    float: right;
    font-size: larger;
    text-decoration: none;
    padding: 60px 25px 25px 25px; 
    
}

.headlineContainer
{
    float: right;
   
}

.nasaPhotograph
{
    border-radius: 30px;
    height:60%;
    width:60%;
    
}

.nasaPhotoContainer
{   
    text-align: center;
    padding: 100px 100px;
    background-color: grey;
    border-radius: 30px;
}

.mainHeader
{
    background-color: aquamarine;
    text-align: center;
}

.dateHeader
{
    text-align: right;
}