*
{
    margin:0px;
    padding:0px;
}

.body
{
    background-color: black;
    margin: 0px;
    
}
.welcomeCard
{
    background-image: url('images/beaufort-beach-driftwood.jpg');
    margin:0px;
    padding-top:400px;
    padding-bottom:400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.transition
{
    background-color: antiquewhite;
    margin:0px;
    padding-top:400px;
    padding-bottom:400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.Button
{
    padding: 15px 32px;
    border-radius: 25px;
    background-color: antiquewhite;
}

.newsHeader
{
    text-align: center;
}
.nasaPhotoContainer
{
    margin:0px;
    padding-top:500px;
    padding-bottom: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.newsHeader
{
    background-image:url('images/NEWS.jpg');
    margin:0px;
    padding-top:500px;
    padding-bottom: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





.titleHeader
{
    
    color:white;
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
}

.headlinePage
{
    
    color:white;
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 50px;
}

.nasaPhotograph
{
    border-radius: 0%;
    
    
}

.nasaPhotoContainer
{   
    text-align: center;
    background-color: black;
    border-radius: 0px;
}

.mainHeader
{
    background-color: black;
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 2px;
    color: white;
    font-weight: 100;
}

.dateHeader
{
    color: white;
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    font-weight: 100;
}

.imageContainer
{
    background-color:wheat;
    border-style: solid;
    border-color: white;
    border-radius:30px;
    padding:10px;
    margin:10px;
    
    
}

.thumbnail 
{
    border:2px;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
    width: 20%;
    height: 20%;
    
    
}


.headline 
{
    float: right;
    font-size: larger;
    text-decoration: none;
    color: black;
    padding: 60px 25px 25px 25px; 
    
}


.description
{
    color: white;
}

